.app {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/coffee_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.promo-img {
    border: 10px solid #FFF;
    border-radius: 10px;
}